.loginButton {
  position:relative;
  left:40%;
  color: $teal;
}

.logo {
  text-align: center;
}

.loginErrorForm {
  width: 600px;
  justify-content: center;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.headerMessage {
  text-align: center;
}
