.top-bar, .top-bar ul {
  background-color: $nav-background;
}

.top-bar {
  .menu-text {
    color: $nav-text-color;
  }
}

a {
  color: white;
  text-decoration: none;
}

a:hover, a:visited, a:focus, a:active {
  text-decoration: none;
  color:white;
}

.userDropdown {
  a {
    color: black;
  }
}
.title-area, .right {
  list-style-type: none;
}
